@font-face { font-family: Retro; src: url( 'res/visitor2.ttf'); }

html, body
{
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
  font-family: Retro;
}

div.Menu
{
  position: absolute;
  width: 450px;
  height: 400px;
  left: 200px;
  top: 10px;
  color: #888;
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.MenuTitle
{
  margin: auto;
  text-align: center;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

.graph
{
  width: 500px;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.9;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.Button
{
  background-color: #333;
  padding: 5px;
  margin: 10px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.Button:hover
{
  background-color: #555;
}

div.HealthBarContainer
{
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: #222;
  width: 200px;
  height: 20px;
  padding: 10px;
}

div.HealthBar
{
  background-color: #922;
  height: 100%;
}

div.MoneyCounter
{
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #888;
  font-size: 26px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}