@font-face { font-family: Retro; src: url( 'res/visitor2.ttf'); }

html, body
{
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
  font-family: Retro;
}

div.Menu
{
  position: absolute;
  width: 460px;
  height: 250px;
  left: 200px;
  top: 500px;
  color: #888;
  background-color: #222;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}



div.WaveMenu
{
  position: absolute;
  width: 460px;
  height: 250px;
  left: 200px;
  
  color: #888;
  background-color: #222;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  top: 160px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

@keyframes fadein
{
  from {opacity: 0.0;}
  to {opacity: 0.99;}
}

@-webkit-keyframes fadein /* Safari and Chrome */
{
  from {opacity: 0.0;}
  to {opacity: 0.99;}
}

div.MenuContainer
{
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    animation: fadein .5;
    -webkit-animation: fadein .5s; /* Safari and Chrome */    
    position: absolute;
}

div.StockMenu
{
  position: absolute;
  width: 460px;
  height: 380px;
  left: 800px;
  top: 250px;
  color: #888;
  background-color: #222;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  font-size: 30px;
  text-align: center;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.MenuTitle
{
  margin: auto;
  text-align: center;
  font-size: 44px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #181818;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.WaveTimer
{
  margin: auto;
  text-align: center;
  font-size: 88px;
  padding: 15px;
  margin: 25px;
  background-color: #511;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.WaveTimer:hover
{
  background-color: #722;
}

.graph
{
  width: 500px;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 800px;
  top: 480px;
  opacity: 0.9;
  z-index: 2;

    animation: fadein .5;
    -webkit-animation: fadein .5s; /* Safari and Chrome */   

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.Button
{
  background-color: #333;
  padding: 5px;
  margin: 10px;

  text-align: center;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.ButtonIcon
{
  background-color: #333;
  padding: 5px;
  margin: 10px;
  text-align: center;
  display: inline-block;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.Button:hover
{
  background-color: #555;
}

div.ButtonIcon:hover
{
  background-color: #555;
}

div.ButtonIcon:active
{
  background-color: #777;
}

#topHudContainer
{
  left: 25%;
  width: 50%;
  height: 200px;
  position: absolute;
  top: 10px;
  margin: 0 auto;
  text-align: center;
}

div.HealthBarContainer
{
  position: relative;
  display: inline-block;
  background-color: #000;
  width: 400px;
  top: -40px;
  height: 20px;
  padding: 10px;
  margin: 0 auto;
}

div.HealthBar
{
  background-color: #3D0000;
  height: 100%;
}

div.HealthBarInner
{
  background-color: #922;
  height: 100%;
}

div.MoneyCounter
{
  display: inline-block;
  color: #888;
  font-size: 26px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}

div.StockCounter
{
  display: inline-block;
  color: #888;
  font-size: 26px;

  -webkit-user-select:none;
  -moz-user-select:none;
  cursor: default;
}