div.Menu
{
  position: absolute;
  width: 400px;
  height: 300px;
  left: 200px;
  top: 10px;
  color: #888;
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
}

div.MenuTitle
{
  margin: auto;
  text-align: center;
}

.graph
{
  width: 500px;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.9;
}

div.Button
{
  background-color: #333;
  padding: 5px;
  margin: 10px;
}

div.Button:hover
{
  background-color: #555;
}

div.BloodMeterContainer
{
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: #222;
  width: 200px;
  height: 20px;
  padding: 10px;
}

div.BloodMeter
{
  background-color: #922;
  height: 100%;
}